body {
    background-color: rgb(161, 165, 168)
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.content {
    margin-top: 20px;
}