nav {
    /* background-color: #00F; */
    overflow: hidden;
    padding: 1em;
    /* border-bottom: 1px solid #000; */
    opacity: .80;
    filter: alpha(opacity=80);
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    background: rgb(54, 25, .80);
    background: rgba(54, 25, 25, .40);
    border-radius: 12px;
    border-radius: 12px;
    border-radius: 12px;
    border-top: black 1px solid;
    border-left: black 3px solid;
    border-right: black 3px solid;
    border-bottom: black 5px solid;
    color: ivory;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

nav a {
    color: #FFF;
}

nav a:visited {
    color: #FFF;
}

nav .navWide {
    display: none;
    margin: 0 auto;
}

nav .navWide .wideDiv {
    text-align: center;
}

nav .navWide .wideDiv a {
    text-decoration: none;
    display: inline-block;
    padding: 0 2em;
}

nav .navNarrow i {
    float: left;
    cursor: pointer;
    color: #FFF;
}

nav .navNarrow .narrowLinks {
    display: none;
}

nav .navNarrow .narrowLinks a {
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}

@media (min-width: 480px) {
    nav .navWide {
        display: block;
    }
    nav .navNarrow {
        display: none;
    }
}