        .navbar-text a {
            /* color: inherit; */
            text-decoration: none;
        }
        
        body {
            padding: 70px;
        }
        
        .navColor {
            font-size: 2.5vh;
            overflow: hidden;
            padding: 1em;
            text-align: center;
            margin: 0 auto;
            border-bottom: 1px solid #000;
            /* opacity: .80; */
            background: rgb(54, 25, .80);
            background: rgba(54, 25, 25, .40);
            filter: alpha(opacity=80);
            -webkit-box-shadow: 0 5px 10px rgb(12, 11, 11);
            -moz-box-shadow: 0 5px 10px rgb(10, 10, 10);
            box-shadow: 0 5px 10px rgb(7, 7, 7);
            border-radius: 12px;
            border-radius: 12px;
            border-radius: 12px;
            border-top: black 1px solid;
            border-bottom: black 5px solid;
            /* color: black; */
            background-color: #2F2F2F;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
        
        nav .navWide {
            display: none;
            margin: 0 auto;
        }
        
        nav .navWide .wideDiv {
            text-align: center;
        }
        
        nav .navWide .wideDiv a {
            text-decoration: none;
            display: inline-block;
            padding: 0 2em;
        }
        
        nav .navNarrow i {
            float: left;
            cursor: pointer;
            color: #FFF;
        }
        
        nav .navNarrow .narrowLinks {
            display: none;
        }
        
        nav .navNarrow .narrowLinks a {
            text-decoration: none;
            display: block;
            float: left;
            clear: left;
            padding: 0.5em 0;
        }
        
        @media (min-width: 480px) {
            nav .navWide {
                display: block;
            }
        }