.header {
    text-align: center;
    opacity: .80;
    filter: alpha(opacity=80);
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    background: rgb(54, 25, .80);
    background: rgba(54, 25, 25, .40);
    border-radius: 12px;
    border-radius: 12px;
    border-radius: 12px;
    border-top: black 1px solid;
    border-left: black 3px solid;
    border-right: black 3px solid;
    border-bottom: black 5px solid;
    color: ivory;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}