/* body {
    display: grid;
    grid-template-columns: 2fr 4fr;
    background: #897777;
    background: rgba(54, 25, 25, .40);
    grid-gap: 20px;
} */


/* body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #2F2F2A
} */