h1,
h3,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkkhaki;
}

.threeColumns {
    column-count: 3;
    column-fill: 50px;
    float: right;
}

.bigLeft {
    display: block;
    padding-right: 10px;
}

img {
    width: 550px;
    height: 200px;
    margin-top: 10px;
    Padding: 2px;
}